### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = r'Resources\purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
count=purchase_data["Purchase ID"].count()
summary_df = pd.DataFrame({"Player Count" : [count]})
summary_df

   Player Count
0           780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# count of Item ID
unique_count=len(purchase_data["Item ID"].value_counts())

average=round(purchase_data["Price"].mean(),2)
#
count=purchase_data["Purchase ID"].count()
#
sum=purchase_data["Price"].sum()
# Create a summary dataframe and format
summary_df=pd.DataFrame({"Number of Unique Items" : [unique_count],"Average Price" : "$"+str(average),"Number of Purchases" : [count],"Total Revenue" : "$"+str(sum)})
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Create a data frame take only columns 0, 1, 2, 3, 4, 6 
purchase_datas_pd = purchase_data.iloc[:,[ 0, 1, 2, 3, 4, 6 ]]

# keep unique rows
reduced_df=purchase_datas_pd.drop_duplicates(["SN"])
# count age of reduced data
count_new=reduced_df["Age"].count()
count_new

576

In [6]:
# count of each gender
count=reduced_df["Gender"].value_counts()

# Using GroupBy to separate the data into fields according to "Gender" values
grouped_gender = reduced_df.groupby(["Gender"])

# percentage value per individual based on gender
percentage = round((grouped_gender["SN"].count()/count_new)*100, 2)

# Creating a new DataFrame using both percentage and count
gender_summary_table = pd.DataFrame({"Total Count": count,
                                    "Percentage of Players": percentage})
gender_summary_table.head()
# Sorting from highest to lowest, ascending=False must be used
percent_df = gender_summary_table.sort_values("Percentage of Players", ascending=False)
percent_df.head()

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# count
purchase_count=purchase_data["Gender"].value_counts()

# Using GroupBy in order to separate the data into fields according to "Gender" values
grouped_gender_price = purchase_data.groupby(['Gender'])
average_price=round(grouped_gender_price["Price"].mean(),2)
total_price=round(grouped_gender_price["Price"].sum(),2)
avg_total_purchase=total_price/count

# Creating a new DataFrame using both duration and count
gender_summarys_table = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price": average_price, "Total Price": total_price,
                                    "Avg Total Purchase per Person" : avg_total_purchase})
gender_summarys_table["Average Purchase Price"] = gender_summarys_table["Average Purchase Price"].map("${:.2f}".format)
gender_summarys_table["Total Price"] = gender_summarys_table["Total Price"].map("${:.2f}".format)
gender_summarys_table["Avg Total Purchase per Person"] = gender_summarys_table["Avg Total Purchase per Person"].map("${:.2f}".format)
gender_summarys_table.head()

,Purchase Count,Average Purchase Price,Total Price,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Bins to hold ages
bins = [0,9,14,19,24,29,34,39,50]
age_group=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+" ]

# Create column to categorize players data into the age group
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=age_group)

# Create data frame
age_range = purchase_data.groupby("Age Group")

# unique data count
ini_count = age_range["SN"].nunique()
    
# percentage
percentage_age = (ini_count/count_new)*100
percentage_age

# Create dataframe
age_demographics = pd.DataFrame({"Total Count": ini_count, "Percentage of Players": percentage_age})
age_demographics
# Round to 2 decimal places
age_demographics.round({'Percentage of Players': 2})

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# count
purchase_count = age_range["SN"].count()

# average price
ave_purchase_price = age_range["Price"].mean()

# Total Purchase
total_purchase = age_range["Price"].sum()

# Ave total individual purchase
ave_purchase_per_person = (total_purchase/ini_count)

# Create display data frame
purchasing_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": ave_purchase_price,
                                    "Total Purchase Value": total_purchase, "Avg Total Purchase per Person": ave_purchase_per_person})
purchasing_analysis
purchasing_analysis.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Avg Total Purchase per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# count SN
top_count = purchase_data["SN"].value_counts()

# group by SN
top = purchase_data.groupby("SN")
# create results for new variables
top_average = top["Price"].mean()
top_total = (top_count*top_average)

# create dataframe to hold and display results
top_spenders = pd.DataFrame({"Purchase Count": top_count, "Average Purchase Price": top_average, 
                             "Total Purchase Value": top_total})

# sort by top 5 spenders and format
top_df = top_spenders.sort_values("Total Purchase Value", ascending=False).head(5)
top_df 
top_df.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:

# grouping and performing calculations
popular = purchase_data.groupby(["Item ID", "Item Name"]).agg({"Purchase ID":["count"], "Price":["mean","sum"]})

# naming the columns of the calculated values
popular.columns = ["Purchase Count", "Item Price", "Total Purchase Value"]
# sorting total purchase value in descending order
popular.sort_values("Purchase Count", ascending=False).head(5).reset_index().style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

# Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
popular.columns = ["Purchase Count", "Item Price", "Total Purchase Value"]

# sorting total purchase value in descending order and formatting
popular.sort_values("Total Purchase Value", ascending=False).head(5).reset_index().style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})